@page "/authors/"
@attribute [Authorize]
@inject IAuthorRepository _authorRepo
<h3 class="card-title">Index</h3>
<br />
<hr />
<br />
@if (Model == null)
{
    <LoadingMessage Message="Loading Data.." />
}
else
{
    <AuthorizeView Roles="Admin">
        <a href="/authors/create" class="btn btn-primary">
            <span class="oi oi-plus"></span>
            Create Author
        </a>
    </AuthorizeView>
    @if (Model.Count < 1)
    {
        <LoadingMessage Message="No Authors in Database.Click 'Create Author' to begin" />
    }
    else
    {
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th> Last Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var author in Model)
                {
                    <tr>
                        <td>@author.FirstName</td>
                        <td>@author.LastName</td>
                        <td>
                            <a class=" btn btn-primary" href="/authors/view/@author.Id">
                                <span class="oi oi-book"></span>
                            </a>
                            <AuthorizeView Roles="Admin">
                                <a class=" btn btn-warning" href="/authors/edit/@author.Id">
                                    <span class="oi oi-pencil"></span>
                                </a>
                                <a class=" btn btn-danger" href="/authors/delete/@author.Id">
                                    <span class="oi oi-delete"></span>
                                </a>
                            </AuthorizeView>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
@code {
    IList<Author> Model;
    protected override async Task OnInitializedAsync()
    {
        Model = await _authorRepo.Get(BookStore_UI.WASM.Static.EndPoints.AuthorsEndPoint);
    }
}
